/* common */
$primary-blue: #316BFF;
$primary-red: #F20000;
$page-bg: #ECF0F5;
$text-color-normal: #989DB9;
$text-color-title: #3D404D;
$border-color-normal: #E1E3EB;
$border-color-table: #ECF1F6;
$border-color-blue: #98B5FF;

/* header */
$header_bg: #161942;

/* navigator */
$nv_bg: #0A0D38;
$nv-color: #fff;

/* nav-menu */
$nm_bg: #545c64;
$nm_bg_active: cyan;

/* 渐变色 */
$linear-gradient-primary: linear-gradient(90deg,rgba(49,107,255,1) 0%,rgba(194,49,255,1) 100%);
$linear-gradient-vertical: linear-gradient(0deg,rgba(49,107,255,1) 0%,rgba(194,49,255,1) 100%);

/* box-shadow */
$box-shadow-normal: 0 0 20px 0 rgba(10, 13, 56, 0.2);
$box-shadow-slight: 0 2px 6px 0 rgba(0, 0, 0, 0.08);

/* iconfont图标颜色 */
$iconfont-normal: #B7BACB;

/*content 高度 */
$content-height: calc(100vh - 80px);
$content-height2: calc(100vh - 192px);
